/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

button,
a[role='button'] {
	@apply py-1 px-4 hover:bg-black/10 min-w-[32px] text-center;
}

button.active {
	@apply !bg-blue-500/20 hover:!bg-blue-300/20;
}

h1 {
	@apply text-2xl;
}

h2 {
	@apply text-xl;
}

h3 {
	@apply text-lg;
}

h4 {
	@apply text-base;
}

h5 {
	@apply text-sm;
}

.tiptap {
	@apply border h-full px-2 py-2 outline-none;
}
